<div class="table-order-clients">
  <% if @order_clients.empty? %>
  <div class="without-order-clients">
    <div><%= image_tag("empty.svg", size: "300x300", alt: "")%></div>
    <h3>Você ainda não adquiriu um bot ou seu pedido está mediante à aprovação</h3>
  </div>
  <% else %>
     <h2>Lista de Bots</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col"><%= OrderClient.human_attribute_name(:plan) %></th>
          <th scope="col"><%= OrderClient.human_attribute_name(:token) %> do bot</th>
          <th scope="col"><%= Client.human_attribute_name(:email) %></th>
          <th scope="col"><%= OrderClient.human_attribute_name(:status) %></th>
        </tr>
      </thead>
      <tbody>
          <% @order_clients.each do |order_client| %>
          <tr>
            <td><%= order_client.id %></td>
            <td><%= order_client.plan %></td>
            <td><%= order_client.token %></td>
            <td><%= order_client.client.email %></td>
            <td><%= OrderClient.human_attribute_name("status.#{order_client.status}") %></td>
          </tr>
          <% end %>
      </tbody>
   </table>   
  <% end %>
</div>

