<h2>Lista de Pedidos</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Token da Empresa</th>
      <th scope="col">Plano</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <% @order_clients.each do |order| %>
      <tr>
        <th scope="row"><%= order.id %></th>
        <td ><%= link_to order.token, order %></td>
        <td><%= order.plan %></td>
        <% if client_signed_in? %>
          <% if order.waiting? %>
            <td><%= link_to 'Cancelar Pedido', cancel_client_order_client_path(order),
                                id:"cancel-#{order.id}",
                                method: :post  %></td>
          <% end %>
        <% end %>
        <% if order.accepted? %>
          <td><strong class="status-accepted">
            <%= OrderClient.human_attribute_name("status.#{order.status}") %>
          </strong></td>
        <% else %>
          <td><strong>
            <%= OrderClient.human_attribute_name("status.#{order.status}") %>
          </strong></td>
        <% end %>
        <% if order.rejected? %>
          <td><strong class="status-rejected">
          <%= OrderClient.human_attribute_name("status.#{order.status}") %>
          </strong></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
