<h2 class="h2-active-plans">Planos Disponíveis</h2>

<% if @plans.empty? %>
	<div class="alert alert-primary" role="alert">
		Sem planos cadastrados
	</div>
<% end %>

<div class="card-deck">
	<% @plans.each do |plan| %>
		<div class="card text-center">
			<div class="card-body">
				<dt>Plataformas Disponíveis</dt>
				<dd><%= plan.platform %></dd>
				<dt>Preço</dt>
				<dd>R$ <%= plan.price %></dd>
				<dt>Limite mensal</dt>
				<dd><%= plan.limit_monthly %> mensagens</dd>
				<dt>Limite diário</dt>	
				<dd><%= plan.limit_daily %> mensagens</dd>
				<dt>Custo</dt>
				<h2>R$ <%= plan.cost %> por mensagem</h2>
				<dt>Promoção</dt>
				<dd><%= plan.promo %></dd>
				<a href="#" class="btn btn-success">Quero Comprar</a>
			</div>
		</div>
	<% end %>
</div>
