<div id="go_to_plans" class="div-plans">
  <h2 class="h2-active-plans">Planos Disponíveis</h2>
  <% if @plans.empty? %>
    <div><%= image_tag("empty.svg", size: "300x300", alt: "")%></div>
    <strong class="without-plans"><%= 'Sem planos cadastrados' %></strong>
  <% end %>

  <div class="all-plans">
    <% @plans.each do |plan| %>
      <div class="each-card">
        <strong>Plataforma: </strong>
        <h5><%= plan.platform %></h5>
        <strong>Preço: </strong>
        <h5><%= plan.price %></h5>
        <strong>Limite mensal: </strong>
        <h5><%= plan.limit_monthly %></h5>
        <strong>Limite diário: </strong>
        <h5><%= plan.limit_daily %></h5>
        <strong>Custo: </strong>
        <h5><%= plan.cost %> por mensagem</h5>
        <strong>Promoção: </strong>
        <h5><%= plan.promo %></h5>
        <div id="plan-<%= plan.id %>">
          <%= link_to 'Comprar', orders_path(plan_id: plan.id), method: :post %>
        </div>
      </div>
    <% end %>
  </div>
</div>
