<section>
  <dl>
      <dt><%= Company.human_attribute_name('fantasy_name') %>:</dt>
      <dd><%= @company.fantasy_name %></dd>
      <dt><%= Company.human_attribute_name('corporate_name') %>:</dt>
      <dd><%= @company.corporate_name %></dd>
      <dt><%= Company.human_attribute_name('email') %>:</dt>
      <dd><%= @company.email %></dd>
      <dt><%= Company.human_attribute_name('document_number') %>:</dt>
      <dd><%= @company.document_number %></dd>
      <dt><%= Company.human_attribute_name('address') %>:</dt>
      <dd><%= @company.address %></dd>
  </dl>
</section>
<%= link_to t('edit', scope: %i[company actions]), edit_company_path %>
<% if @company.client == current_client %>
  <%= link_to 'Compras', orders_companies_path %>
<% end %>