<div class="container">
  <div>
    <div class="image-mobile"><%= image_tag("access_account.svg", size: "500x500", alt: "")%></div>
  </div>

  <div class="login-content">
    <%= image_tag("avatar.svg", size: "100x100", alt: "Logo")%>
    <h1><%= t('.sign_in') %></h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="input-div">
        <div class="i">
          <i class="fas fa-user"></i>
        </div>
        <div class="div">
          <h5><%= f.label :email %><br/></h5>
          <li class="input-client-session"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></li>
        </div>
      </div>
      <div class="input-div">
        <div class="i">
          <i class="fas fa-lock"></i>
        </div>
        <div class="div">
          <h5><%= f.label :password %><br/></h5>
          <li class="input-client-session"><%= f.password_field :password, autocomplete: "current-password" %></li>
        </div>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="remember_me">
          <h5><%= f.check_box :remember_me %>
          <%= f.label :remember_me %></h5>
        </div>
      <% end %>
      <div class="actions">
        <button type="submit" class="btn_employee"><%= t('.sign_in') %></button>
      </div>
    <% end %>
    <%= render "employees/shared/links" %>
  </div>
</div>
