<h1>Listas de Promoções</h1>
<<<<<<< HEAD
<%= render 'shared/promos' %>
=======
<% @promos.each do |promo|%>        
<dl>
    <dt><%= Promo.human_attribute_name(:title) %>: </dt>
        <dd><%= promo.title %></dd>          
    <dt><%= Promo.human_attribute_name(:discount) %>: </dt>
        <dd><%= promo.discount %></dd>
    <dt><%= Promo.human_attribute_name(:start_date) %>: </dt>
        <dd><%= promo.start_date %></dd>
    <dt><%= Promo.human_attribute_name(:end_date) %>: </dt>
        <dd><%= promo.end_date %></dd>
    <dt><%= Promo.human_attribute_name(:limit_order) %>: </dt>
        <dd><%= promo.limit_order %></dd>
</dl>
<br>
<%end%>
>>>>>>> 2f1bb13cca0ed3401774a2826124baf00ec4d49f
