<% if @order_clients.empty? %>
  <p class="msg-error"><%= 'Nenhum pedido cadastrado' %></p>
<% end %>

<% @order_clients.each do |order| %>
	<dl>
		<dt>Token da Empresa: </dt>
		<dd><%= order.token %></dd>
		<dt>Plano: </dt>
		<dd><%= order.plan %></dd>
		<dt>Status: </dt>
		<dd><%= order.status %></dd>
		<%= link_to 'Aprovar Pedido', new_aproved_path, id: "link_to_aproved_#{order.id}" %>
	</dl>
<% end %>
