<p class="link-back"><i class="fa fa-arrow-left" aria-hidden="true"></i><%= link_to 'Voltar', order_clients_path %></p>

<section class="container-company">
  <div class="info-company">
    <ul class="list-group">
      <li class="list-group-item list-group-item-action">
        <strong>Token da Empresa:</strong>
	<%= @order_client.token %>
      </li>
      <li class="list-group-item list-group-item-action">
        <strong>Plano:</strong>
	<%= @order_client.plan %>
      </li>
      <% if @order_client.accepted? %>
        <li class="list-group-item list-group-item-success">
          <strong>Status:</strong>
	  <%= OrderClient.human_attribute_name("status.#{@order_client.status}") %>
        </li>
      <% elsif @order_client.rejected? %>
        <li class="list-group-item list-group-item-danger">
          <strong>Status:</strong>
	  <%= OrderClient.human_attribute_name("status.#{@order_client.status}") %>
        </li>
      <% else %>
        <li class="list-group-item list-group-item-warning">
          <strong>Status:</strong>
	  <%= OrderClient.human_attribute_name("status.#{@order_client.status}") %>
        </li>
      <% end %>
    </ul>

    <p class="btn btn-success approved-order">
      <%= link_to 'Aprovar Pedido', order_client_approved_orders_path(@order_client), method: :post %>
    </p> 

    <p class="btn btn-danger rejected-order">
      <%= link_to 'Reprovar Pedido', new_order_client_rejected_order_path(@order_client) %>
    </p>
  </div>

  <div>
    <div class="personal_info"><%= image_tag("order_confirmed.png", size: "470x400", alt: "")%></div>
  </div>		
</section> 
