<!DOCTYPE html>
<html>
  <head>
    <title>CheckoutAreaDoCliente</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'shared/flashes' %>
    <nav>
	    <% if employee_signed_in? %>
	      <%= link_to t('.sign_out'), destroy_employee_session_path, method: :delete %>
	    <% else %> 
	      <%= link_to t('.employee_sign_in'), new_employee_session_path %>
	    <% end %>

	    <% if client_signed_in? %>
	      <%= link_to t('.sign_out'), destroy_client_session_path, method: :delete %>
	    <% else %>
	      <%= link_to t('.sign_in'), new_client_session_path %>
	    <% end %>      
    </nav>   
    <%= yield %>
  </body>
</html>
