<!DOCTYPE html>
<html>
  <head>
    <title>Checkout Área Do Cliente</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--Icon-->
    <link rel="icon" href="https://valepublicitando.com/wp-content/uploads/2018/01/bot-icon-2883144_640.png">
  </head>

  <body>
    <%= render partial: 'shared/flashes' %>
    <nav>
	    <% if employee_signed_in? %>
	      <%= link_to t('.sign_out'), destroy_employee_session_path, method: :delete %>
	    <% else %> 
	      <%= link_to t('.employee_sign_in'), new_employee_session_path %>
        <%= link_to 'Cadastrar promoção', new_promo_path %>
	    <% end %>

	    <% if client_signed_in? %>
	      <%= link_to t('.sign_out'), destroy_client_session_path, method: :delete %>
        <%= link_to 'Minha conta', current_client.company %>
	    <% else %>
	      <%= link_to t('.sign_in'), new_client_session_path %>
	    <% end %>      
    </nav>   
    <%= yield %>
  </body>
</html>
