<!DOCTYPE html>
<html>
  <head>
    <title>Checkout Área Do Cliente</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'home_page', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--Icon-->
    <link rel="icon" href="https://valepublicitando.com/wp-content/uploads/2018/01/bot-icon-2883144_640.png">
  </head>

  <body>
    <%= render partial: 'shared/flashes' %>
		<nav>
			<img class="logo" src="https://cdn.pixabay.com/photo/2017/10/24/00/39/bot-icon-2883144_1280.png" 
								 width="50" height="50"/>
			<ul>
				<li><%= link_to 'Home', root_path %></li>
				<% if employee_signed_in? %>
					<li><%= link_to t('.sign_out'), destroy_employee_session_path, method: :delete %></li>
				<% end %> 

				<% if client_signed_in? %>
					<li><%= link_to t('.sign_out'), destroy_client_session_path, method: :delete %></li>
				<% else %>
					<li><%= link_to t('.sign_in'), new_client_session_path %></li>
					<li><%= link_to 'Sou vendedor', new_employee_session_path %></li>
				<% end %> 
				</ul>    
		</nav>
    <%= yield %>
  </body>
</html>
