<!DOCTYPE html>
<html>
  <head>
    <title>CheckoutAreaDoCliente</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<<<<<<< HEAD
    <%= render partial: 'shared/flashes' %>
    <nav>
    <% if client_signed_in?%>
      <%= link_to t('.sign_out'), destroy_client_session_path, method: :delete %>
    <% else %>
      <%= link_to t('.sign_in'), new_client_session_path %>
    <% end %>      
    </nav>   
=======
    <% if client_signed_in? %>
      <%= link_to t('.sign_out'), new_client_session_path %>      
    <% else %>
      <%= link_to t('.sign_in'), new_client_session_path %>
    <% end %>
    <%= render partial: 'shared/flashes' %>
>>>>>>> b6d2cca56d72ba72aa5c87072550ddc245b9848b
    <%= yield %>
  </body>
</html>
